:root {
  --text-color: #ffffff;
  --grey-color: #808080;
  --black-opacity-color:#000000c8;
}

* {
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #00000090 no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
}

#content {
  
  height: 100svh;
  width: 100%;
  position: relative;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  height: 60px;
}

#website-menu {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 250px;
}

#website-menu li {
  position: relative;
  cursor: pointer;
}

#website-menu li::after { /*animated underline*/
  content: '';
  background-color: white;
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  transition: all .15s ease-out;
}

#website-menu li:hover::after {
  transform: scaleX(1);
}

#website-logo {
  font-size: 2.5rem;
  font-family: 'Great Vibes', cursive;
}

/*Home page*/

.main-wrapper {
  align-items: center;
  display: flex;
  min-height: 700px;
}

.main-wrapper h1 {
  font-weight: 400;
  font-size: 4rem;
  font-family: 'Great Vibes', cursive;
}


#home-page {
  padding-left: 10%;
}

/*Menu page*/

#menu-page {
  justify-content: center;
}

#menu-grid-wrapper {
  background-color: var(--black-opacity-color);
  display: grid;
  gap: 40px;
  grid-template: 1fr / repeat(auto-fill,minmax(350px,1fr));
  padding: 30px;
  width: 90%;
}

.menu-card{
  background: url('../src/img/menu/1.jpg') 50%;
  background-size: 100%;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  height: 500px;
}

.menu-card-overlay {
  background-color: var(--black-opacity-color);
  font-size: 1.2rem;
  content: 'Some Tasty Meal';
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 40px;
  transition: all .2s;
}

.menu-card:hover .menu-card-overlay {
  opacity: 1;
}

.menu-card-overlay p {
  margin: 10px 0;
}


/*Contacts page*/

#about-page {
  justify-content: center;
}

#about-wrapper {
  align-items: center;
  background-color: var(--black-opacity-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 450px;
  width: 900px;
}

#about-wrapper p{
  font-size: 1.6rem;
  margin: 10px 60px;
}

/*Footer*/

footer {
  align-items: center;
  background-color: #00000082;
  color: var(--grey-color);
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: 40px;
}